/* --------------------------------
            VARIABLES
-------------------------------- */

//? variables background:
$black: #2c2c2c;
$gray: #5e5e5e;
$red: #de0f0f;

//? variables color text:


//? shadow:
$shadow: #000;
$alpha: .3;
